@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 20px;
  background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
}

.container {
  max-width: 80%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  font-family: "Bungee Spice", sans-serif;
}

.goal {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.goal input {
  flex: 1;
  padding: 15px;
  margin-right: 10px;
  font-size: 16px;
  border: 2px solid #007BFF;
  border-radius: 4px;
}

.goal span {
  color: #888;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #0056b3;
}

img{
  border-radius: 25px;
  margin: 50px;
  width: 800px;
}
